.container-1 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    
}

.midiv-1{
    height: 180px;
    background-color: #fdcae1;
    width: 180px;
    position: relative;
    left: 180px;
}

.midiv-1:hover, .midiv-1.right {
    animation-name: deslizar;
    animation-duration: 4s;
    animation-iteration-count: 5;
    
}

@keyframes deslizar {

  from {transform: translate(0);
  opacity: 1;}
  to{transform: translate(350px);opacity: 0;}
  
}


.midiv-2{
  height: 180px;
  background-color: #fdfd96;
  width: 180px;
}

  .midiv-2:hover, .midiv-2.active {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    
  }

  @keyframes rotate {
    from{ transform: rotate(0);}
    to {transform: rotate(360deg);}
  }
