html, body{
   
    margin: 0;
    padding: 0;
    
}

body{

background-image:url(pineapples-1853466_960_720.jpg);
background-size: cover;                                
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-color: rgb(216, 21, 86);

}

.contenedor{

    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Amatic SC', cursive;
   
}

.login-form{

    background-color: #00ffff;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #00ffff;
    margin: 20px;
}

.login-form__field {
    margin-bottom: 10px;
}

.login-form__field input {

    width: 230px;
    max-width: 100%;
    height: 30px;
    border: 1px solid #00ffff;
    border-radius: 5px;
    font-size: 18px;
}

input#check {
    width: auto;
    height: 15px;
    width: 15px;
}

[for="check"] {
    font-size: 18px;
    position: relative;
    top: -2px;
    margin-left: 2px;
    font-style: italic;
}

button.login-form__button--button {
    background-color: #129dcd;
    border: 0;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
     color: #fff;
}
input#usuario {
    
    background-image: url(outline_person_black_24dp.png);
    background-repeat: no-repeat;
    background-position: 3px;
    padding-left: 35px;
    background-color: #ffdbe7;
}

input#password {
  
    background-image: url(outline_key_black_24dp.png);
    background-repeat: no-repeat;
    background-position: 3px;
    padding-left: 35px;
    background-color: #ffdbe7;
}

.login-titulo{


    padding-left: 60px;
    font-style: oblique;
    color: #4f6150;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;


}