.responsive-1{
background-color: red;
width: 1200px;
height: 1200px;

}


@media (max-width:700px)  {
    .responsive-1{
        background-color: green;
        width: 100%;
        
    }
}

.responsive-2 {

width: 100%;
height: 100%;


}

@media only screen and (min-width: 100px) and (max-width: 700px) {

    .responsive-2{
        background:url(lossimpsons.png) no-repeat
    }
    .video-responsive {
    visibility: hidden;
    
    }
 }