* {
    background-color:#fff;
  }
  
  .galeria {
    height: 360px;
    width: 300px;
    margin: 1em auto;
    border: solid 1px #cbb062;
    background-color: #d1d1d1;
    position: relative;
}
  
  .galeria img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 2s;
  }
  
  .galeria input[type=radio] {
    position: relative;
    top: 330px;
    margin-inline: 28px;
    
  }

  h2{


    font-family: cursive;
    color: rgb(153, 118, 29);
    position: relative;

  }

  
  .galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
    
  }
  
  .galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
  }